<header> 
  <div class="header-container">
   <a routerLink="" class="logo-main"><img src="../../assets/img/logo.png" alt="logo" /></a>
   <div class="navbar">
     <ul>
         <li><a routerLink="" class="active">Home</a></li>
           <li><a routerLink="/about" routerLinkActive="active">About</a></li>
           <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
           <li><a routerLink="/login" *ngIf="token == undefined" routerLinkActive="active">Login</a></li>
           <li><a routerLinkActive="active" *ngIf="token !=undefined" (click)="logout()">Logout</a></li>
           <!-- <li><a routerLink="/signup" routerLinkActive="active">Signup</a></li> -->
       </ul>
   </div>
 </div>
 </header>