ul{list-style:none;margin:0;padding:0;}
header{border-bottom:3px solid #c3d798;width:100%;float:left;background:#fff;}
.header-container{ padding:8px 0;width:1200px; margin:0 auto;overflow:hidden;}
.logo-main{display:block;float:left;}
.navbar{float:right;width:382px;}
.navbar ul li a{ float:left;padding:30px 10px;color:#1d1e1d; display:block; font-weight:bold; font-size:16px; text-decoration:none;}
.navbar ul li a:hover,.navbar ul li a.active{color:#027a38;}
