<div class="banner-section">
  <img src="../../assets/img/banner.png" alt="" />
  </div>
  
  <div class="gray-container">
  	<h1>Parties are fun, but at the cost of Nature</h1>
    <p>A lot of leftover residue and general debris And left after the fun is over <br/>
Most of them are plastics and other non-biodegradable products <br/>
These non-biodegradable products release toxins and are harmful for our nature and to us 
</p>
  </div>
  
  <div class="contact-bottom">
  	<p>Single use disposable cutlery/crockery is one of the biggest threats to our local environment. Many residents buy “bio-degradable” cutlery but many of these are of questionable authenticity and their environmental credentials are questionable. The cleanest solution to reduce this waste is to go with re-usable cutlery for parties and get-togethers.
    
    <img src="../../assets/img/image.png" alt="" /></p>
    
    <input type="button" class="checkout-btn" value="Go to checkout" (click)="redirect()">
        <div class="call-us">
                <div class="cont-01">
                    <b>Talk to us</b>
                    <strong>9980889889</strong><img src="../../assets/img/contact-icon.png" />
                </div>
                
                 <div class="cont-02">
                 <img src="../../assets/img/whatapp-icon.png" />
                    <b>Whatsapp</b>
                    <strong>9980889889</strong>
                </div>
        </div>
  </div>