<div class="middle-content">
  <div class="product-summmary">
   <div class="product-image">
     <img src="../../../assets/img/product-01.jpg" alt="" />
   </div>
   <div class="detail"  >
        <div class="col-01"> <strong>Name </strong>:  <span>{{vendorInfo.name}}</span> <br />
     <strong>Address  </strong>:  <span>{{vendorInfo.address}}</span> <br />
     <strong>Pincode </strong>:  <span>{{vendorInfo.pin_code}}</span><br />
     <strong>Available Product </strong>:  <span>{{vendorInfo.items | arraytoStingpipe}}</span>
     </div>
   </div>

   <table id="products" *ngIf="vendorInfo.items.length">
       <tr>
         <th>Product Name</th>
         <th>Available Product</th>
         <th>Price Per Pcs</th>
         <th width="165px">No. Pcs</th>
       </tr>
       <tr *ngFor="let item of vendorInfo.items">
         <td>{{item.item_name}}</td>
         <td *ngIf="item.inventory">{{item.inventory.available_quantity}} pcs</td>
         <td *ngIf="!item.inventory">NA</td>
         <td *ngIf="item.inventory">Rs. {{item.price_unit}}</td>
         <td *ngIf="!item.inventory">NA</td>
         <td><input *ngIf="item.inventory" min="0" max="{{item.inventory.available_quantity}}" (input)="addItem($event.target.value,item,vendorInfo)" [disabled]="!item.inventory" type="number" class="qty"></td>
       </tr>
     </table>
         
     
     <input  (click)=addToCart(itemDetails) type="button" class="btn-sm" value="Next"> 
</div>


 
 
</div>